<div class="col-sm-4">
    <h3>{{ mov.title }}</h3>
    <p>Views: {{ mov.viewCount }}</p>
    <p>Likes: {{ mov.likeCount }}</p>
</div>


<script>
addToLikesList("{{ mov.likeCount}}")
addToViewsList("{{ mov.viewCount}}")
</script>