{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "/static/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "/static/css/c3.min.css" %}" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static "/static/js/myplots/global.js" %}"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Youtube stats</h1>
            <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
            <form method="POST" action="/">
                <input type="text" id="channel-username" name="channel_username">
                <button type="submit" class="btn">Get stats</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <!-- /.row -->

    {% if channel_name %}
        <section style="text-align: center">
            <h1>{{ channel_name }}</h1>
            <p id="wait-upload"> Uploading {{ movies|length }} movies...</p>

            {% if status == 'ok' %}

{#                {% for mov in movies %}#}
{##}
{#                    {% include 'fragments/stat_elem.html' %}#}
{##}
{#                {% endfor %}#}
                {% include 'plots/views_likes_plot.html' %}


            {% else %}
                <p> Something went wrong, please check if the channel name is correct.</p>

            {% endif %}


        </section>
    {% endif %}

</div>
<!-- /.container -->

<!-- jQuery Version 1.11.1 -->
<script src="{% static "/static/js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "/static/js/bootstrap.min.js" %}"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static "/static/js/c3.min.js" %}"></script>
{% block extrajs %}
{% endblock %}

</body>

</html>
