{% load staticfiles %}

<div id="views_likes_chart"></div>


{% block extrajs %}
    <script>
    setChannelName("{{ channel_name }}")
    </script>
    <script src="{% static "/static/js/myplots/views_likes_plot.js" %}"></script>

{% endblock %}
